@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

/* body{
font-family: 'Roboto', sans-serif;
} */
* {
margin: 0px;
padding: 0px;
font-family: 'Kanit', sans-serif;
}

i {
margin-right: 10px;
}
.wspace{
  word-spacing: 12px;
  text-align: justify;
  margin: 5px;
}

.pspace{
  text-align: justify;
  margin: 5px;
}
#text_generate{
  padding: 10px 50px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 30px;
  }
  .download-button {
    padding: 10px 20px;
    background-image: linear-gradient( 135deg, #0f9 0%, #60f 100%);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 15px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.6s ease;
    position: relative;
    overflow: hidden;
    animation: pulse 2s infinite;
  }

  .download-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    animation: none;
    border: none;
  }

  .download-button span {
    position: relative;
    z-index: 2;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
    }
    25% {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    }
    50% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 123, 255, 0.4);
    }
  } 

/* Style for the icons */
.icon {
    font-size: 2em;
    margin: 10px;
}

.input-group-text.copybutton::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 384 512'%3E%3Cpath d='M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z'/%3E%3C/svg%3E");
  height: 1em;
  vertical-align: middle;
  margin-right: 5px; /* Adjust the spacing between the icon and the text */
}